@model List<Category>

<div class="row">
    <div class="col">
        <a href="@Url.Action("create", "category", new { Area = "admin" })" class="btn btn-success" style="margin-bottom: 10px">Add Category</a>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>
                            <a href="@Url.Action("edit", "category", new { Area = "admin", Id = item.Id })" class="btn btn-primary btn-sm">Edit</a>
                            <button type="button" onclick="deleteCat(@item.Id)" class="btn btn-danger btn-sm">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@section Scripts {
    <script>
        function deleteCat(id){
            if(window.confirm("Delete this item?")){
                window.location.href = "/admin/category/delete/" + id
            }
        }
    </script>
}